@font-face {
    font-family: 'SFPro';
    src: url('static/fonts/SFPro.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SFProDisplay';
    // src: url('static/fonts/SFProDisplay-Regular.otf') format('opentype');
    src: url('static/fonts/SFProDisplay-Regular.woff2') format('woff2'),
        url('static/fonts/SFProDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SFProDisplay';
    src: url('static/fonts/SFProDisplay-Medium.woff2') format('woff2'),
        url('static/fonts/SFProDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SFProDisplay';
    src: url('static/fonts/SFProDisplay-Bold.woff2') format('woff2'),
        url('static/fonts/SFProDisplay-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}